<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Dynamic Tabs</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    
    
    <link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.css'>
<link rel='stylesheet prefetch' href='https://material.angularjs.org/1.1.0-rc4/docs.css'>

        <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="app.css"/>

    
    
    
  </head>

  <body>

    <div ng-controller="AppCtrl" class="sample tabsdemoDynamicTabs" layout="column" ng-cloak="" ng-app="MyApp">
        
        <md-toolbar layout="row">
     
      <h1>Room Booking App</h1>
    </md-toolbar>
        
    <div layout="row">

        <md-sidenav  ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="room in rooms">
                <md-button ng-click="selectUser(room)" ng-class="{'selected' : room === chosen}">
                  
                  {{room.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content" >
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" md-border-bottom="" md-autoselect="" >
      <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}"
        >
        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center; ">
      
                      <div layout="row" layout-wrap>
                    <div  layout="row" flex="30" layout-align="center center" class="time-slot" ng-repeat="slot in tab.slots" >    	
        <input type="checkbox" id="{{ tab.title }}-{{ $index }}" ng-disabled="slot.booked" ng-checked="exists(slot, reservations)" ng-click="toggle(slot, reservations)">
        <label  for="{{ tab.title }}-{{ $index }}">{{ slot.time }}<br>
          <span ng-if="exists(slot, reservations)">{{slot.booked ? 'Booked': 'Reserved'}}</span>
            
        </label>
      </div>
                </div>
          
 
      
        </div>
          
          
      </md-tab>
    </md-tabs>
            
            
        </md-content>

    </div>
<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
     
    <div layout="row" layout-align="end start"> Total hours: <span> {{reservations.length}}</span>
         </div>
    <div layout="row" layout-align="center center">

    <h4>
        Booking <span class="name" ng-repeat="r in reservations"> {{r.time}}</span>
     </h4>
       

    </div>
     
</md-bottom-sheet>


</div>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc4/angular-material.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
