<md-toolbar layout="row">

    <h1>Room Booking Appsss</h1>
</md-toolbar>





<div layout="row">

    <md-sidenav style="width: 900px" ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
        <md-list>
            <md-list-item ng-repeat="room in rooms" class="sidenav">
                <md-button ng-click="selectUser(room)" ng-class="{'selected' : room === chosen}">

                    {{room}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>


    <div layout="column">


        <div layout="row">
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            <input ng-model="user.donation" type="number" step="1">
        </div>

        <div class="sample tabsdemoDynamicTabs" layout="column" ng-cloak="">


            <md-content id="content">
                <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
                    <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">
                        <div class="demo-tab tab{{$index%4}}" style="padding: 25px; text-align: center; ">

                            <div layout="row" layout-wrap>
                                <div layout="row" flex="30" layout-align="center center" class="time-slot" ng-repeat="slot in tab.slots">
                                    <input type="checkbox" data="{{tab.name}}" id="{{ tab.title }}-{{ $index }}" ng-disabled="slot.booked" ng-checked="exists(slot, reservations)" ng-click="toggle(slot, reservations, $event)">
                                    <label for="{{ tab.title }}-{{ $index }}">{{ slot.time }}
                                        <br>
                                        <span ng-if="exists(slot, reservations)">{{slot.booked ? 'Booked': 'Reserved'}}</span>

                                    </label>
                                </div>
                            </div>
                        </div>




                    </md-tab>
                </md-tabs>


            </md-content>

        </div>
    </div>


    <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
          <div layout="row" layout-align="end start"> Total hours: <span> {{reservations.length}}</span>
        </div>
  <md-list>
    <md-list-item ng-repeat="r in reservation">
         <span class="name" > {{r.date}}</span>  
            <span ng-repeat="k in r.rooms">{{k.time}} ({{k.room}})</span>
    </md-list-item>
</md-list>
      
        </md-bottom-sheet>


</div>