<md-toolbar layout="row">

  <h1>Room Booking Appsss</h1>
</md-toolbar>


<div ng-repeat="(key, value) in roomsSch" layout="row">

  <md-sidenav style="width: 900px" ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
    <md-list>
      <md-list-item ng-repeat="(key, value) in value | orderBy:'key':true"" class="sidenav">
        <md-button aria-label="Select key" ng-click="selectRoom($index)" ng-class="{'selected' : $index === selectedIndex }">
          {{key}}
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div layout="column">

    <h3>{{key| date:'EEEE'}}: {{key}}</h3>
    <md-datepicker ng-model="myDate" ng-change="datePick(myDate)"></md-datepicker>{{myDate}}


    <div ng-repeat="(key, value) in value">

      <div layout="row" ng-show="($index == selectedIndex)" layout-wrap style="height: 1020px">
        <div layout="row" flex="30" layout-align="center center" class="time-slot" ng-repeat="slot in value">
          <input type="checkbox" data="{{slot.name}}-{{slot.date}}" id="{{ slot.name }}-{{ $index }}" ng-disabled="slot.booked" ng-checked="reserved" ng-click="toggle(slot, reservations, $event, $index)">
          <label for="{{ slot.name }}-{{ $index }}">
                                        {{ slot.time }}
                                        <br>
                                        <span ng-if="exists(slot, reservations)">{{slot.booked ? 'Booked': 'Reserved'}}</span>

                                    </label>
        </div>
      </div>

    </div>

    <div layout="row" style="width: 900px">
      <div class="md-grid" ng-cloak>
        <div> Total hours: <span> {{reservations.length}}</span>
        </div>
        <md-list flex>
          <md-list-item class="md-3-line" layout="column" ng-repeat="r in reservation">
            <span class="name"> {{r.date}}</span>
            <div class="md-list-item-text" ng-repeat="k in r.rooms">
              <span>{{k.time}} ({{k.room}})</span>
            </div>
          </md-list-item>
        </md-list>

      </div>

    </div>


  </div>