<md-toolbar layout="row">

  <h1>Room Booking Appsss</h1>
</md-toolbar>


<div layout="row">

  <md-sidenav style="width: 900px" ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">
    <md-list>
      <md-list-item ng-repeat="(key, value) in roomsSch.rooms" class="sidenav">
        <md-button aria-label="Select key" ng-click="selectRoom($index, key)" ng-class="{'selected' : $index === selectedIndex }">
          {{key}}
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
    
    
    
    
  <div layout="column">

    <h3>{{roomsSch.date| date:'EEEE'}}: {{roomsSch.date}}</h3>
    <md-datepicker ng-model="myDate" ng-change="datePick(myDate)"></md-datepicker>


    <div ng-repeat="(key, value) in roomsSch.rooms">

      <div layout="row" ng-if="($index == selectedIndex)" layout-wrap style="height: 1020px">
        <div layout="row" flex="30" layout-align="center center" class="time-slot" ng-repeat="slot in value.slots">
          <input type="checkbox" data="{{slot.name}}-{{slot.date}}" id="{{ slot.name }}-{{ $index }}" ng-disabled="slot.booked" ng-checked="slot.reserved" ng-click="toggle(slot, reservations, $event, $index)">
          <label for="{{ slot.name }}-{{ $index }}">
                                        {{ slot.time }}
                                        <br>
                                        <span ng-if="slot.reserved">{{slot.booked ? 'Booked': 'Reserved'}}</span>

                                    </label>
        </div>
      </div>

    </div>

   


  </div>
     <div layout="row" style="width: 900px">
      <div class="md-grid" ng-cloak>
        <div> Total hours: <span> {{reservations.length}}</span>
        </div>
        <md-list flex>
          <md-list-item class="md-3-line" layout="column" ng-repeat="r in reservation">
            <span class="name"> {{r.date}}</span>
            <div class="md-list-item-text" ng-repeat="k in r.rooms">
              <span>{{k.time}}</span>
                   <span ng-if="k.room==0">- Santorini</span>
                   <span ng-if="k.room==1">- BoraBora</span>
                   <span ng-if="k.room==2">- Bali</span>
                   <span ng-if="k.room==3">- Maldives</span>
                   <span ng-if="k.room==4">- Fiji</span>
            </div>
          </md-list-item>
        </md-list>

      </div>

    </div>
</div>